:root {
  --white-100: #FFFFFF;
  --white-200: #f5f5f5;
  --gray-150: #eeeeee;
  --gray-200: #e6e6e6;
  --gray-250: #CFCFCF;
  --gray-300: #656565;
  --black-300: #2E2E2E;
  --black-800: #080808;
  --bg-linear-100: linear-gradient(90deg, rgba(46,46,46,1) 31%, rgba(0,0,0,1) 100%);
  --bg-linear-200: linear-gradient(90deg, #211C24 31%, #080808 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
